/* Reset básico para compatibilidade */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mini-title{
    font-size: 13px;
    font-weight: 600;
}